ul.accordion {
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        background: #feecec;
        width: inherit;
        list-style-type: none;
        position: relative;
        margin: 7px 0;
        cursor: pointer;
        overflow: hidden;

        &.expanded {
            i {
                &:before {
                    transform: translate(3px , 0) rotate(45deg)
                }

                &:after {
                    transform: translate(-3px, 0) rotate(-45deg)
                }
            }
        }

        > p {
            color: black;
            font-size: 14px;
            line-height: 25px;
            margin: 0;
            padding: 10px 40px 10px 20px;
        }

        .item-content {
            opacity: 0;
        }

        i {
            position: absolute;
            margin-top: 16px;
            right: 28px;
            top: 3px;
            opacity: 0.5;

            &:before , &:after {
                content: '';
                transition: all 0.3s;
                position: absolute;
                background-color: #949b9c;
                width: 2px;
                height: 10px;
            }

            &:before {
                transform: translate(-3px, 0) rotate(45deg);
            }

            &:after {
                transform: translate(3px , 0) rotate(-45deg);
            }
        }
    }

    &.podcasts {
        $active-bg: #d2ebfa;
        $default-bg: #f2f2f2;
        $title-color: #1e314f;

        li {
            border-radius: 2px;
            background: $default-bg;

            .podcast-title {
                font-weight: 400;

                span {
                    font-weight: 300;
                }
            }

            > p {
                color: $title-color;
            }

            &.expanded {
                background: $active-bg;
            }

            &:hover, &.expaded {
                background: $active-bg;
            }
        }
    }
}