.audio-player-wrapper {
    padding: 15px 20px 20px 20px;

    $player-theme-color: #1d9de6;
    $player-scrollbar-bg: #afcae1;
    $seeker-radius: 20px;

    audio {
        display: none;
    }

    .actions {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;

        .group1, .group2 {
            width: 100%;
            display: flex;

            @include breakpoint(phablet) {
                width: auto;
            }

            * {
                padding-right: 20px;
                font-weight: 300;
            }
        }

        a {
            color: $player-theme-color;

            &:hover {
                text-decoration: underline;
                font-weight: 400;
            }
        }

        .playback-button {
            width: 14px;
            height: 16px;
            position: relative;
            margin-bottom: 15px;
            padding-right: 34px;

            @include breakpoint(phablet) {
                margin-bottom: 0;
            }

            &:before, &:after {
                content: '';
                display: block;
            }

            &:before {
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 10px solid $player-theme-color;
            }

            &.playing {
                &:before, &:after {
                    background: $player-theme-color;
                    position: absolute;
                    top: 0;
                }

                &:before {
                    border: none;
                    width: 5px;
                    height: 15px;
                    left: 0;
                }

                &:after {
                    width: 5px;
                    height: 15px;
                    left: 9px;
                }
            }
        }
    }

    .progress-bar {
        height: $seeker-radius;
        position: relative;
        width: calc(100% - #{$seeker-radius});
        margin: 0 auto;

        .bar, .position {
            width: 100%;
            height: 4px;
            border-radius: 3px;
            background: $player-scrollbar-bg;
            position: absolute;
            top: 8px;
            left: 0;
        }

        .position {
            width: 0%;
            background: $player-theme-color;
            transition: all 0.1s;
        }

        .seeker {
            width: $seeker-radius;
            height: $seeker-radius;
            border-radius: 50%;
            position: absolute;
            background: $player-theme-color;
            transition: all 0.1s;
        }
    }

    .transcript {
        color: #1e314f;
        font-weight: 300;
        font-size: 14px;
        margin-top: 15px;

        p {
            margin: 0;
        }

        .semi-title {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 400;
        }
    }

}