textarea {
    resize: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input-description {
    border: 1px solid #b6bedb;
    border-radius: 5px;

    &.disabled {
        background: $border-color;

        .input-block {
            .input-field {
                input {
                    background: $border-color;
                }
            }
        }
    }

    label {
        font-size: $label-font-size;
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 0 0 10px;
    }

    .input-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px 5px 10px;
        border-radius: 5px;

        .input-field {
            flex: 0 1 20%;

            input {
                display: block;
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-size: $input-font-size;
                background: #fff;
                border: 1px dashed #b6bedb;
                border-radius: 5px;
                padding: 3px 10px;
                color: $primary-color;
            }
        }

        .input-symbol {
            flex: 0 1 5%;
            text-align: center;
        }

        .input-info {
            flex: 1 1 75%;
        }
    }
}

.input {
    border: 1px solid #b6bedb;
    border-radius: 5px;

    &.disabled {
        background: $border-color;

        input {
            background: $border-color;
        }
    }

    label {
        font-size: $label-font-size;
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 10px;
    }

    input {
        display: block;
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: $input-font-size;
        background: #fff;
        border: 0;
        padding: 3px 10px;
        color: $primary-color;
        border-radius: 6px;
    }

    input[type="file"] {
        line-height: 12px;
    }

    textarea {
        display: block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 3px 10px;
        background: #fff;
        color: $primary-color;
        font-family: 'Lato', sans-serif;
        font-size: $input-font-size;
    }
}

.form-item {
    &.form-actions {
        button {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}