@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    text-decoration: none;
}

.page-heading {
    margin: 0 0 40px 0;
    padding: 10px;

    &.border {
        border-bottom: 2px solid $border-color;
    }

    &.center {
        text-align: center;
    }

    .page-heading-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .page-title {
            flex: 1 1 auto;
            font-size: $heading-font-size;
            text-transform: uppercase;
            font-weight: 300;
            margin: 20px 0;

            &.center {
                text-align: center;
            }

            p {
                font-size: $label-font-size;
                margin: 10px 0 0 0;

                span {
                    color: $primary-color;
                }
            }
        }

        .page-actions {
            flex: 1 1 auto;
            text-align: right;

            button {
                text-transform: uppercase;
                margin: 0 5px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.mini-wrapper {
    max-width: 500px;
    margin: 0 auto;
}