$primary-color: #0057B1;
$secondary-color: #99AAB3;

$helper-color-1: #d8d8d8;
$helper-color-2: #333333;

$active-color: $primary-color;
$passive-color: $secondary-color;
$success-color: #A2D82B;

$border-color: #e0e6ef;

$main-simple-color: #fff;

$primary-font-size: 14px;

$heading-font-size: 25px;
$subheading-font-size: 20px;

$label-font-size: 12px;

$input-font-size: 15px;

$button-large-font-size: 20px;