#app {
    display: flex;
    flex-direction: column;

    .wrap {
        width: 100%;

        &.login {
            @include breakpoint(phablet) {
                width: 400px;
                margin: 0 auto;
            }

            .logotype {
                display: block;
                max-width: 300px;
                margin: 0 auto;
            }
        }

        &.user {
            .logotype {
                display: block;
                max-width: 110px;
            }
        }
    }
}
