#app {
    display: flex;
    flex-direction: column;

    .wrap {
        width: 100%;

        &.login {
            @include breakpoint(phablet) {
                width: 400px;
                margin: 0 auto;
            }

            .main-header {
                box-shadow: none;
                border-bottom: 2px solid #e0e6ef;
            }

            .logotype {
                display: block;
                max-width: 235px;
                padding: 11px 20px 23px 0;
                margin: 0 auto;
            }
        }

        &.user {
            .logotype {
                display: block;
                max-width: 110px;
            }
        }
    }
}
