#page-login {
    text-align: center;

    .login-auth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        section {
            flex: 0 1 49%;

            .input {
                text-align: left;
            }
        }
    }
}
