#page-dashboard {
    .dashboard-content {
        padding: 0 50px;

        button {
            display: block;
            width: 100%;
        }

        .dashboard-video {
            display: block;
            margin: 15px auto 0 auto;
            width: 100%;
            max-width: 560px;
            height: 315px;
        }
    }

    .books-list {
        max-width: 1024px;
        margin: 0 auto;
    }
}